.nav-link{
    color: #1a1a1a;
    margin-right: 15px;
}

.nav-link:hover{
    color: #1a1a1a;
}

.bg-dark{
    min-height: 50px;
}

.navbar-toggler{
    font-size: 40px;
}

.navbar-toggler:focus{
    outline: none;
}

.slide{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.slide img{
    max-width: 100%;
    max-height: 100%;
}

img.btn-whatsapp {
    display: block !important;
    position: fixed;
    z-index: 9999999;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius:100px !important;
    }
    img.btn-whatsapp:hover{
    border-radius:100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
    -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    transition-duration: 1s;
    } 